BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 88
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
IndentCaseLabels: false
SortIncludes: false
BinPackParameters: true
BinPackArguments: true
PenaltyBreakBeforeFirstCallParameter: 200
